body, html {
  height: 100%;
  width: 100%;
  font-family: Arial,sans-serif, Helvetica;
  margin: 0;
  box-sizing: border-box;
  background-color: #27445f;
}

header, nav {
  width: max-content;
  max-width: 1000px;
}

#headbanner {
  color:white;
  font-family:Arial, Helvetica, sans-serif;
}

.container-sm-fluid {
  background-color: #27445f;
}

/*slideshow */
* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
  background-color: #27445f;
}

#Welcome {width:1000px; height: 700px;}
#Bible {width:1000px; height: 700px;}
#Prayer {width:1000px; height: 700px;}
#Follow {width:1000px; height: 700px;}
#Holidays {width:1000px; height: 700px;}


/* Hide the images by default */
.mySlides {
  display: none;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 7s;
}

@keyframes fade {
  from {opacity: .5}
  to {opacity: 1}
}


/* Style tab links */
.tablink {
  background-color: #3FD2C7;
  color: white;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 17px;
  width: 25%;
}

.tablink:hover {
  background-color: #99DDFF;
}

.tabcontent {
  color: white;
  display: none;
  padding: 75px;
  height: 100%;
  width: 100%;
  overflow: auto;
  background-image: url(/images/tab\ content\ background.JPG);
  background-size: contain;
}

#Home {background-color: #27445f;}
#About {background-color: #27445f;}
#Calendar {background-color: #27445f;}
#Media {background-color: #27445f;}
#Giving {background-color: #27445f;}
#Contact {background-color: #27445f;}

/*tab content*/
a {
  margin-left: 5px;
}

h3 {
  justify-content: center;
}

iframe {
  width: 100%;
  margin-bottom: 12px;
  justify-content: center;
}

*, *:before, *:after {
  box-sizing: inherit;
}

@media screen and (max-width: 650px) {
  .column {
    width: 100%;
    display: block;
  }
}

/*footer*/
footer {
  background-color: #5EBEC4;
  width: max-content;
}

#dailyBibleVerse {
  text-align:center; 
  color:#000000; 
  padding:0px; 
  margin:0px 4px; 
  font-family:Arial,sans-serif;
}

#reference {
  border: 0px solid #000000;
  padding:2px 0px 3px; 
  margin:0px;
}

#verse {
  text-align:left; 
  margin: 25px;
  font-size:12px;
  color:#000000;
}

sub, #providedBy {
  text-align:left; 
  color:#000000; 
  margin:3px 4px 0px; 
  font-family:Arial,sans-serif; 
  font-size:12px;
}

#christianityDotCom {
  color:#000000;
  font-family:Arial,sans-serif;
  font-size:12px;
  text-decoration:underline;
  padding:0px;
  margin-bottom: 25px;
  border:25px; 
}
